.cat_movieList {
  display: flex;
  padding: 4px;
  width: 100vw;
}

.movieTile {
  text-align: center;
  margin: 5.5vh 2px;
  transition: transform 700ms;
  cursor: pointer;
}
.movieTile:hover {
  transform: translateX(10%);
  transform: scale(1.2) !important;
  z-index: 10;
}
