body {
  display: flex;
  width: 100vw;
  background-color: rgb(21, 21, 21);
}

.app {
  flex-direction: column;
  min-width: 50px;
  margin-left: 10px;
  position: relative;
}
.logo_div {
  display: flex;
  justify-content: flex-end;
}

.logo_img {
  width: 170px;
  position: sticky;
  top: 10px;
  right: 10px;
  border: 0;
  z-index: -1;
}

.app h1 {
  margin-left: 10px;
}

.app_movieList {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.app__categories {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* align-items: center; */
}

.app_watchList h1 {
  min-width: 100px;
  margin-left: 10px;
}

h1 {
  color: white;
}
