body {
  display: flex;
  width: 100vw;
  background-color: rgb(21, 21, 21);
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  scrollbar-gutter: none;
  scrollbar-width: none;
}
.logo_div {
  display: flex;
  justify-content: flex-end;
}

.logo_img {
  width: 170px;
  position: sticky;
  right: 17px;
  border: 0;
  z-index: -1;
}

.app h1 {
  margin-left: 10px;
}

.app_movieList {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}
.app__categories {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: static;
  /* align-items: center; */
}

.app_watchList h1 {
  min-width: 100px;
  margin-left: 10px;
}

h1 {
  color: white;
}
